@font-face {
    font-family: 'Jalnan2';
    src: url('../assets/fonts/Jalnan2TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 사용 예시 */
.jalnan-font {
    font-family: 'Jalnan2', sans-serif;
}
